@import "style";

footer {
    position: relative;
    scroll-snap-align: end;
    overflow: hidden;

    > img {
        z-index: -1;

        margin: 0 0 -0.5rem -1rem;

        width: calc(100vw + 2rem);
        max-width: calc(100vw + 2rem);
    }

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: $omega_dark;

        width: 80%;
        margin: 0 auto;
        padding: 0 10% 1rem 10%;

        @media (max-width: 936px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 1rem;

            h5 {
                margin-top: 1rem;
                text-align: center;
            }
        }
    }

    ul li {
        display: inline-block;
    }
}
