@import "style";

@font-face {
    font-family: "ReadexPro";
    src: url("../fonts/ReadexPro-Medium.ttf");
}

body {
    font-family: "ReadexPro Arial Sans", sans-serif;

    background-color: $dark;
    color: $bright;
    font-size: $text_font_size;
}

a {
    color: $light;
    text-decoration: none;
}

a:hover {
    color: $accent;

    transition: color 0.1s ease-in-out;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.hidden {
    display: none;
}

.drop {
    box-shadow: 0 0.2rem 0.1rem rgba(0, 0, 0, 0.25);
}

.drop-filter {
    filter: drop-shadow(0 0.2rem 0.1rem rgba(0, 0, 0, 0.25));
}

// General font sizes

h1 {
    font-size: $h1_font_size;
}

h2 {
    font-size: $h2_font_size;
}

h3 {
    font-size: $h3_font_size;
}

h4 {
    font-size: $h4_font_size;
}

h5 {
    font-size: $h5_font_size;
}

label {
    font-size: $label_font_size;
}
