@import "style";

header {
    position: fixed;
    top: 0;
    background-color: $dark;
    width: 100%;
    padding: 1rem 0 0 0;
    z-index: 1000;

    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 90%;
        margin: 0 auto;

        a {
            display: flex;
            align-items: center;

            img {
                width: 6.5rem;
                height: 6.5rem;

                background-color: $super_dark;
                padding: 0.313rem;

                border-radius: 50%;

                margin-right: 2.5rem;
            }
        }

        nav ul {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;

            li:first-child {
                margin-right: 2.5rem;
            }

            a {
                text-transform: uppercase;
            }
        }
    }

    > img {
        position: absolute;
        overflow-x: hidden;

        z-index: -1;

        top: 5.5rem;
        left: -1rem;

        width: calc(100vw + 2rem);
        max-width: calc(100vw + 2rem);

        @media (min-width: 69rem) and (max-width: 94rem) {
            top: 6.5rem;
        }

        @media (min-width: 35rem) and (max-width: 68rem) {
            top: 7.5rem;
        }
        @media (max-width: 35rem) {
            top: 8rem;
        }
    }

    a {
        color: $bright;
    }
}
