@import "style";

main {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    h1,
    h2 {
        text-align: center;
        margin-bottom: 3.375rem;
    }

    section {
        scroll-snap-align: center;
        padding-top: 20vh;

        &:first-of-type {
            padding-top: 35vh;
            padding-bottom: 10vh;
        }

        > h2 {
            text-transform: uppercase;
        }
    }

    a {
        transition: opacity 0.2s ease-in-out;

        &:hover {
            opacity: 0.8;
        }
    }

    #intro {
        h2 {
            margin-bottom: 1rem;
            text-transform: none;
        }

        p {
            text-align: center;
            max-width: 57rem;
            margin: 0 auto;
        }

        div {
            display: flex;
            justify-content: center;

            a {
                margin-top: 2rem;
                display: block;
                font-weight: 700;

                text-align: center;
                font-size: 2rem;

                width: 16.875rem;
                height: 4.125rem;
                line-height: 4.125rem;

                border-radius: 0.5rem;
                text-transform: uppercase;

                &:first-child {
                    color: $bright;
                    margin-right: 2.5rem;
                    background-color: $accent;

                    &:hover {
                        color: $bright;
                    }
                }

                &:last-child {
                    color: $dark;
                    background-color: $neutral;

                    &:hover {
                        color: $dark;
                    }
                }
            }
        }
    }

    #projects {
        > div {
            display: flex;
            justify-content: space-evenly;

            margin: 0 auto;

            @media (max-width: 87.5rem) {
                justify-content: space-between;
            }
        }

        article {
            width: 37.5vw;
            max-width: 32rem;
            display: inline-block;

            background-color: $omega_dark;

            border-radius: 0.5rem;
            overflow: hidden;

            > img {
                background-color: $super_dark;
                border-radius: 0.5rem;
            }

            > img,
            > div > div,
            > div > a {
                margin-bottom: 2rem;
            }

            > div {
                max-width: 80%;
                margin: 0 auto;

                p {
                    margin-bottom: 1rem;
                }

                div {
                    display: flex;
                    justify-content: space-between;
                }

                > a {
                    display: block;
                    background-color: $neutral;
                    color: $omega_dark;
                    text-transform: uppercase;
                    border-radius: 0.5rem;
                    text-align: center;
                    padding: 0.5rem;
                }
            }
        }
    }

    #contact form {
        div:not(.no-block) {
            > * {
                display: block;
                width: 100%;
            }

            label {
                font-size: 1.5rem;
                margin: 0.7rem 0 0.5rem 0.2rem;
            }

            input,
            textarea {
                font-family: "ReadexPro Arial Sans", sans-serif;
                font-size: 1.1rem;

                color: $bright;
                background-color: $super_dark;

                border: none;
                border-radius: 0.5rem;
                padding: 0.2rem 0.5rem;
            }

            textarea {
                resize: none;

                height: calc(1.1rem * 15);
            }
        }

        .v-split {
            display: flex;
            justify-content: space-between;

            > div {
                width: calc(50% - 1rem);
            }
        }

        .no-block {
            margin: 0.7rem 0;
        }

        input[type="checkbox"] {
            border: none;
            accent-color: $accent;

            width: 1.2rem;
            height: 1.2rem;
        }

        label[for="privacy"] a {
            color: $neutral;
        }

        button {
            background-color: $accent;
            color: $bright;
            text-transform: uppercase;
            border-radius: 0.5rem;
            text-align: center;
            border: none;
            margin: 0.5rem 0 0 0;
            padding: 0.5rem 0;
            width: calc(50% - 1rem);
            font-size: 1.5rem;
        }
    }
}
