$accent: #f24333;
$neutral: #00bfb2;
$light: #a3d9ff;
$bright: #ffffff;
$dark: #073b4c;
$super_dark: #052c39;
$omega_dark: #031f28;

$h1_font_size: 2.875rem;
$h2_font_size: 2.5rem;
$h3_font_size: 2rem;
$h4_font_size: 2.5rem;
$h5_font_size: 1.25rem;

$text_font_size: 1.25rem;
$label_font_size: 1.5rem;
